.header__menu {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  border-top: 1px solid rgba(16, 16, 16, 0.1);
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
  padding: 0 4rem;
  height: 45px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.header__prev {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}


.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  align-items: center;
  height: 100%;
}
.menu__sub {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu__sub::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(135deg, #ed55c7, #6756ca);
  transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu__sub.active {
  color: linear-gradient(135deg, #ed55c7, #6756ca);
  background: linear-gradient(135deg, #ed55c7, #6756ca);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__sub.active::after {
  width: 100%;
}
.menu__text,
.menu__text--back {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
}
.menu__text {
  transition: color 0.5s ease-in, background 0.5s ease-in;
}
