.content-wrapper {
  margin-top: -3%;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.card-body {
  font-size: 0.8rem !important;
}
.card-profile{
  padding-bottom: 20px;
}

.customer-avatar {
  display: flex;
}

.customer-name {
  margin-left: 15px;
  font-size: 1rem;
}

.card-header-right {
  display: flex;
}

.right-icon-goBack {
  padding: 0 15px 16px 0;
  margin: 0;
  font-size: 1rem;
}

.btnArond {
  float: right;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.btnArond button {
  margin: 20px 0px 0px 20px;
}
.btnArond .btn-warning {
  margin-right: 20px;
}
.btnArond .primary {
  height: 40px;
  margin-top: 20px;
}

/* ============= MEDIA =========== */

@media screen and (max-width: 430px) {
  .right-content {
    display: none;
  }

  .card-header span {
    margin-top: -1.3rem;
  }
}

/*Tablet nhá»�(480 x 640)*/

@media screen and (max-width: 700px) {

  .btnArond button span {
    display: none;
  }

  .icon-fas {
    margin: 0;
  }
}
@media (max-width: 800px){
  .content-wrapper{
      margin-top: -40px !important;
  }
}
@media (min-width: 1200px) {
  .layout-page {
    padding-left: 14.5rem;
  }
}