.container {
  margin: 0 auto;
  max-width: 192rem;
  min-width: 128rem;
  padding: 1.5rem;
}

.mid-container {
  max-width: 108rem;
  margin: 3rem auto;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  border: none;
  overflow: hidden;
  cursor: pointer;
}
.page-link.current,
.btn.btn-primary,
.btn.filter-active,
.btn.btn-badge {
  transition: background 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: linear-gradient(135deg, #fce6f7, #d5d0f0);
}
.btn.btn-primary {
  width: fit-content;
  border-radius: 2rem;
  padding: 1rem 3rem;
}
.btn.btn-badge {
  border-radius: 2px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.btn.btn-badge-border {
  width: fit-content;
  border-radius: 2px;
  gap: 0.5rem;
  padding: 1px;
  transition: background 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--theme-color);
}
.btn.btn-badge-border .btn-inner {
  background-color: #fff;
  padding: 0.4rem 0.9rem;
}
.btn.btn-primary i {
  fill: var(--theme-color);
}
.text-hover,
.menu-hover,
.menu-hover span {
  cursor: pointer;
  background: transparent;
  transition: color 0.5s ease-in, background 0.5s ease-in;
}
.text-highlight,
.btn.text-highlight,
.text-hover:hover,
.btn.btn-badge i,
.btn.btn-badge span,
.btn.btn-badge-border i,
.btn.btn-badge-border span,
.text-hover:hover span,
.menu-hover:hover span {
  color: var(--theme-color);
  background: var(--theme-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn.btn-badge,
.text-highlight,
.btn.text-highlight {
  font-weight: 600;
}
.page-link.current span,
.btn.btn-primary span,
.btn.btn-primary i,
.btn.btn-primary-no-fill,
.btn.btn-primary-no-fill i {
  background: var(--theme-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn.btn-primary i {
  margin-right: 0.7rem;
}
.btn.btn-primary span {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.section-description {
  color: var(--text-semi-white);
  font-size: 1.4rem;
  font-weight: 400;
}
.divider {
  height: 1px;
  background-color: var(--hr-color);
}
.v-divider {
  width: 1px;
  height: 60%;
  background-color: var(--border-color);
}

.star-icon {
  color: var(--icon-disabled);
}
.icon-disabled {
  color: var(--icon-disabled);
}
.star-icon.active {
  color: var(--icon-star-active);
}
.box {
  padding: 1.6rem;
  border: 1px solid rgba(16, 16, 16, 0.1);
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0 4px rgb(16 16 16 / 10%);
}
.brand-item__social-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.brand-item__social-item {
  padding: 1rem;
  border-radius: 1rem;
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
.brand-item__social-item h6 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-white);
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.brand-item__social-item p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.brand-item__social-item i {
  font-size: 1.2rem;
  color: var(--text-semi-white);
}
.brand-item__social-item span {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-semi-white);
  letter-spacing: 0.02rem;
}
.reviews-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.reviews-bar__stars {
  display: flex;
  justify-content: space-between;
  min-width: 2.8rem;
  max-width: 3.5rem;
  flex-shrink: 0;
}
.reviews-bar__progress {
  position: relative;
  height: 5px;
  width: 100%;
  border-radius: 3px;
  background-color: #ccc;
}
.reviews-bar__progress::before {
  content: "";
  position: absolute;
  height: 5px;
  width: var(--percent);
  border-radius: 3px;
  background-color: var(--text-color);
}
.reviews-bar__percent {
  text-align: right;
  min-width: 3rem;
  width: 3.5rem;
  max-width: 4rem;
  flex-shrink: 0;
}
.box-reviews__top {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-reviews__left {
  display: flex;
  align-items: flex-end;
  vertical-align: baseline;
}
.box-reviews__number {
  font-size: 5rem;
  font-weight: 600;
  color: black;
}
.box-reviews__number span {
  margin-left: 1rem;
}
.box-reviews__description {
  color: gray;
}
.box-reviews__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.box-reviews__title {
  font-size: 1.8rem;
  font-weight: 600;
}
.box-reviews__description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2;
}
.price--old {
  font-size: 1.4rem;
  color: var(--text-semi-white);
  text-decoration: line-through;
}

.err {
  display: none;
  border: 1px solid var(--warning);
  background: rgba(254, 37, 44, 0.1);
  font-size: 1.6rem;
  padding: 1rem 3rem 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  opacity: 1;
  transition: all 0.3s ease;
  color: var(--warning);
}

.err.show {
  display: block;
}
.badge {
  background: linear-gradient(135deg, #ed55c7, #6756ca);
  position: absolute;
  top: 28px;
  right: 8.5%;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 10px;
  padding: 4px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}